
div.terminal {
    margin: auto;
    width: 640px;
    height: 400px;
    position: relative;
}

@media screen and (min-width: 1280px) {
div.terminal {
        width: 1280px;
        height: 800px;
    }
}
